.iommi_filter .iommi_query_error {
    color: red;
}
.iommi_filter .iommi_query_error.hidden {
    display: none;
}

/* advanced filter */
.iommi_filter .iommi_query_available_fields,
.iommi_filter .iommi_query_available_query_commands {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    max-width: 45%;
}
.iommi_filter .iommi_query_available_fields {
    padding-right: 20px;
}
.iommi_filter .iommi_query_available_fields ul,
.iommi_filter .iommi_query_available_query_commands ul {

}
.iommi_filter .iommi_query_toggle_help,
.iommi_filter .iommi_query_help {
    margin-left: 3px;
}
.iommi_filter .iommi_query_toggle_help {
    cursor: pointer;
    width: 100px;
}
.iommi_filter .iommi_query_toggle_simple_mode {
    float: right;
}
/* /advanced filter */

/* EditTable */
input[data-iommi-edit-table-delete-row-checkbox] {
    display: none;
}
input[data-iommi-edit-table-delete-row-checkbox]+label {
    display: none;
}
[data-iommi-edit-table-delete-with="checkbox"] button[data-iommi-edit-table-delete-row-button] {
    display: none;
}
[data-iommi-edit-table-delete-with="checkbox"] input[data-iommi-edit-table-delete-row-checkbox] {
    display: initial;
}
div[data-iommi-edit-table-delete-with="checkbox"] input[data-iommi-edit-table-delete-row-checkbox]+label {
    display: initial;
}
[data-iommi-edit-table-row] {
    opacity: 1;
}
[data-iommi-edit-table-row]:has(input[data-iommi-edit-table-delete-row-checkbox]:checked) {
    opacity: 0.3;
}
.reordering-handle-cell {
	cursor: move;
	cursor: -webkit-grabbing;
    width: 30px;
    text-align: right;
}
.reordering-handle-cell::after {
    content: "||";
}
/* /EditTable */

/* extended file field */
[data-iommi-extended-file-field] [data-iommi-extended-file-input-wrapper].hidden {
    display: none;
}
[data-iommi-extended-file-field] .file-field-item {
    border: 1px dotted #cccccc;
    padding: .375rem .75rem;
}
[data-iommi-extended-file-field] .file-field-item .file-icon {
    display: inline-block;
    height: 64px;
    width: 64px;
}
[data-iommi-extended-file-field] .file-field-item .file-icon:not(:has(.file-thumb)) {
    background: url('/static/images/iommi-icons/file.svg');  /* TODO předělat přes style="--iommi-icon-bg" */
}
[data-iommi-extended-file-field] .file-field-item .file-icon.file-icon--jpg:not(:has(.file-thumb)),
[data-iommi-extended-file-field] .file-field-item .file-icon.file-icon--jpeg:not(:has(.file-thumb)),
[data-iommi-extended-file-field] .file-field-item .file-icon.file-icon--jif:not(:has(.file-thumb)),
[data-iommi-extended-file-field] .file-field-item .file-icon.file-icon--jfif:not(:has(.file-thumb)),
[data-iommi-extended-file-field] .file-field-item .file-icon.file-icon--jfi:not(:has(.file-thumb)),
[data-iommi-extended-file-field] .file-field-item .file-icon.file-icon--gif:not(:has(.file-thumb)),
[data-iommi-extended-file-field] .file-field-item .file-icon.file-icon--bmp:not(:has(.file-thumb)),
[data-iommi-extended-file-field] .file-field-item .file-icon.file-icon--png:not(:has(.file-thumb)),
[data-iommi-extended-file-field] .file-field-item .file-icon.file-icon--ico:not(:has(.file-thumb)),
[data-iommi-extended-file-field] .file-field-item .file-icon.file-icon--avif:not(:has(.file-thumb)),
[data-iommi-extended-file-field] .file-field-item .file-icon.file-icon--webp:not(:has(.file-thumb)),
[data-iommi-extended-file-field] .file-field-item .file-icon.file-icon--svg:not(:has(.file-thumb)) {
    background: url('/static/images/iommi-icons/image.svg');  /* TODO předělat přes style="--iommi-icon-bg" */
}
[data-iommi-extended-file-field] .file-field-item .file-icon .file-thumb {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: var(--iommi-image-thumb-bg)
}
[data-iommi-extended-file-field] .file-field-item .file-name {
    margin-right: 3rem;
}
[data-iommi-extended-file-field] .file-field-item .file-size {
    font-size: 80%;
    margin-right: 3rem;
}
[data-iommi-extended-file-field] .file-field-item .file-size:not(.file-size-missing)::before {
    content: '(';
}
[data-iommi-extended-file-field] .file-field-item .file-size:not(.file-size-missing)::after {
    content: ')';
}
[data-iommi-extended-file-field] .btn-file-delete {
    border: 0;
    color: #930000;
    background: inherit;
    border-radius: 50%;
}
[data-iommi-extended-file-field] .file-drop-zone {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    height: 80px;
    padding: 1em;
    border: 1px dashed #cccccc;
    border-radius: 8px;
    cursor: pointer;
}
[data-iommi-extended-file-field] .file-drop-zone.dragover {
    border: 1px solid #cccccc;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}
[data-iommi-extended-file-field] .file-drop-zone input[type="file"] {
    display: none;
}
/*
TODO
 .file-icon {bg svg file/picture}
     - jen černobílé
*/
/* /extended file field */
