{% extends "iommi/base.html" %}

{% block iommi_head_contents %}
    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/login.css">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">

    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">


    <style>
        .compact-form-row {
            display: inline-block;
        }

        .compact-form-row .helptext {
            display: none;
        }
    </style>
{% endblock %}
