{% load i18n %}
<div id="iommi_{{ query.iommi_dunder_path }}">
    {{ query.form.iommi_open_tag }}

        {% if query.advanced %}
            {{ query.advanced }}
        {% endif %}

        {{ query.form_container.iommi_open_tag }}
            {{ query.form.render_fields }}
        {{ query.form_container.iommi_close_tag }}

        {{ query.form.errors }}

        <div class="iommi_query_error {% if not query.query_error %}hidden{% endif %}">
            {% if query.query_error %}
                {{ query.query_error }}
            {% endif %}
        </div>

        {{ query.form.render_actions }}
    {{ query.form.iommi_close_tag }}
</div>
