include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
include requirements.txt
include test_requirements.txt
recursive-include lib/tri/table/templates *
include table.scss
include table.css