include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
include requirements.txt
exclude tests/*.*
recursive-include iommi *.*
recursive-exclude iommi *__tests.py
recursive-exclude iommi *.pyc
recursive-exclude iommi/snapshots *.*
recursive-exclude iommi testreport.xml
prune *__tests.py
