{% if item.include %}
    {{  item.iommi_open_tag }}
        {% if item.has_rendered_items %}
            {{ item.iommi_open_details_tag }}
                <summary>
                    <div class="menu_open_close"></div>
                    {{ item.link }}
                </summary>
                <ul>
                    {% include "iommi/main_menu/menu_items.html" with items=item.items.values %}
                </ul>
            {{ item.iommi_close_details_tag }}
        {% else %}
            {{ item.link }}
        {% endif %}
    {{ item.iommi_close_tag }}
{% endif %}
