{{ field.iommi_open_tag }}
{% if field.label %}
<div class="pf-v6-c-form__group-label">
    {{ field.label.iommi_open_tag}}
    <span class="pf-v6-c-form__label-text">{{ field.display_name }}</span>
    <!-- TODO: Could be added as label__children_required -->
    {% if field.required %}&nbsp;<span class="pf-v6-c-form__label-required" aria-hidden="true">&#42;</span>{% endif %}
    {{ field.label.iommi_close_tag }}
</div>
{% endif %}
<div class="pf-v6-c-form__group-control">
    <span
        class="{% if field.required %} pf-m-required{% endif %}{% if field.errors %} pf-m-error{% endif %}">
        {{ field.input }}
        <!-- TODO: Same as above, might be addable in python -->
        {% if field.errors %}
        <span class="pf-v6-c-form-control__utilities">
            <span class="pf-v6-c-form-control__icon pf-m-status">
                <i class="fas fa-exclamation-circle" aria-hidden="true"></i>
            </span>
        </span>
        {% endif %}
    </span>
    <div class="pf-v6-c-form__helper-text" aria-live="polite">
        <div class="pf-v6-c-helper-text">
            {% if field.help %}
            <div class=" pf-v6-c-helper-text__item">
                <span class="pf-v6-c-helper-text__item-icon">
                    <i class="fas fa-fw fa-minus" aria-hidden="true"></i>
                </span>
                <span class="pf-v6-c-helper-text__item-text">{{ field.help }}</span>
            </div>
            {% endif %}
            {% if field.errors %}
            <div class="pf-v6-c-helper-text__item pf-m-error">
                <span class="pf-v6-c-helper-text__item-icon">
                    <i class="fas fa-fw fa-exclamation-circle" aria-hidden="true"></i>
                </span>
                <span class="pf-v6-c-helper-text__item-text">{{ field.errors }}</span>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{{ field.iommi_close_tag }}
