<div aria-label="Pages"{{ paginator.attrs }}>
    <div{{ paginator.container.attrs }}>
        {% if show_first %}
            <span{{ paginator.item.attrs }}>
                <a href="?{{ extra|escape }}{{ paginator.iommi_path }}=1" aria-label="First Page"{{ paginator.link.attrs }}>&laquo;</a>
            </span>
        {% endif %}

        {% if has_previous %}
            <span{{ paginator.item.attrs }}>
                <a href="?{{ extra|escape }}{{ paginator.iommi_path }}={{ previous }}" aria-label="Previous Page"{{ paginator.link.attrs }}>&lt;</a>
            </span>
        {% endif %}

        {% for num in page_numbers %}
            <span{% if num == page %}{{ paginator.active_item.attrs }}{% else %}{{ paginator.item.attrs }}{% endif %}>
                <a href="?{{ extra|escape }}{{ paginator.iommi_path }}={{ num }}" aria-label="Page {{ num }}"{{ paginator.link.attrs }}>{{ num }}</a>
            </span>
        {% endfor %}

        {% if has_next %}
            <span{{ paginator.item.attrs }}>
                <a href="?{{ extra|escape }}{{ paginator.iommi_path }}={{ next }}" aria-label="Next Page"{{ paginator.link.attrs }}>&gt;</a>
            </span>
        {% endif %}

        {% if show_last %}
            <span{{ paginator.item.attrs }}>
                <a href="?{{ extra|escape }}{{ paginator.iommi_path }}={{ pages }}" aria-label="Last Page"{{ paginator.link.attrs }}>&raquo;</a>
            </span>
        {% endif %}
    </div>
</div>

