{% if table.bulk %}
{{ table.bulk.iommi_open_tag }}<input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}"/>
{% endif %}
    {% block before_table_tag %}{% endblock %}

    {% include 'iommi/table/table_tag.html' %}

    {% block before_bulk %}{% endblock %}

    {% if table.bulk %}
        {{ table.bulk_container.iommi_open_tag }}

        {{ table.bulk.h_tag }}
        {{ table.bulk.errors }}
        {{ table.bulk.render_fields }}
        {{ table.bulk.render_actions }}

        {{ table.bulk_container.iommi_close_tag }}
    {% endif %}

    {% block after_bulk %} {% endblock %}

{% if table.bulk %}
{{ table.bulk.iommi_close_tag }}
{% endif %}
