@font-face {
    font-family: "Clayton";
    /*noinspection CssUnknownTarget*/
    src: url(/_static/clayton-regular-webfont.woff) format("woff");
}

@font-face {
    font-family: "Clayton-light";
    /*noinspection CssUnknownTarget*/
    src: url(/_static/clayton-light-webfont.woff) format("woff");
}

@font-face {
    font-family: "Clayton-thin";
    /*noinspection CssUnknownTarget*/
    src: url(/_static/clayton-thin-webfont.woff) format("woff");
}

h1 {
    font-size: 4.5rem;
    font-family: "Clayton", sans-serif;
}

h2, h3, h4, h5, h6 {
    font-family: "Clayton-thin", sans-serif;
    font-weight: 400;
}

h3 code {
    margin-left: -0.3rem;
}

.mobile-logo {
    display: none;
}

.sidebar-brand-text {
    display: none;
}

.highlight .p,
.highlight .o {
    color: rgb(107, 106, 190);
}

.highlight {
    background: #f7fafa;
}

h2 {
    margin-top: 2rem;
    font-weight: 400;
}

#shortcuts section section {
    padding-left: 2rem;
}

#shortcuts section {
    margin-bottom: 2rem;
}

#shortcuts section h4 {
    font-size: 1.1rem;
    font-weight: unset;
}

#shortcuts section ul {
    margin-top: 0.5rem;
}


#shortcuts section h3 code {
    margin-left: -0.3rem;
}

.sidebar-logo {
    max-width: 70%;
}

@media (prefers-color-scheme: dark) {
    .highlight {
        background: #202020;
        color: #d0d0d0;
    }
}

@media screen and (max-width: 67em) {

    .mobile-logo {
        display: block;
        text-align: center;
    }

    .logo {
        width: 150px;
    }

    #iommi h1 {
        display: none;
    }
}

.iommi_logo_menu {
    /*noinspection CssUnknownTarget*/
    background: url(/_static/images/iommi_logo_text_only.svg) no-repeat;
    background-size: contain;
}
