/*

The embedded iframes should not try to show ads and flyouts. They also need some different padding to look ok.

*/

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.navbar-expand-lg {
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.navbar-expand-lg .navbar-nav {
    flex-direction: row !important;
}

a,
.select2,
button {
    pointer-events: none;
}


readthedocs-flyout {
    display: none;
}


#readthedocs-ea {
    display: none;
}
